.app {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.header {
  text-align: center;
}

.boards {
  display: flex;
  justify-content: center; /* Центрируем доски по горизонтали */
  gap: 20px; /* Расстояние между досками */
}

.board {
  width: 200px; /* Фиксированная ширина доски */
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрируем содержимое по центру доски */
}

.list {
  width: 100%;
  margin-bottom: 20px;
}

.card {
  width: 180px; /* Фиксированная ширина карточки */
  border: 1px solid #ccc;
  margin: 5px;
  padding: 10px;
  box-sizing: border-box; /* Учитываем padding внутри карточки */
}

.card.dragged {
  cursor: grab;
  position: absolute;
  z-index: 999;
  pointer-events: none;
  background-color: grey;
}

.textarea-button {
  display: none;
}

.show-textarea-button {
  display: block;
}

.button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

